<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Clínica ginecológica{% endblock %}</title>
        <link rel="icon" type="image/png" href="{{asset('imagenes/iconos/logoicon.png')}}">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('estilos/main.css') }}" media="screen">

            {#<link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.css') }}" media="screen">#}
            {#<link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap-grid.css') }}" media="screen">#}
            {#<link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap-reboot.css') }}" media="screen">#}
            {#<link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap-utilities.css') }}" media="screen">#}
        {% endblock %}

        {% block javascripts %}
            {{ include("javascripts/_bootstrapJs.html.twig") }}
        {% endblock %}
    </head>
    <body>
        
        <!--INICIO CABECERA-->
        {% block header %} 
        <header>
            <nav class="c-cabecera">
                <div class="c-titulo">
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <a href="{{path('app_perfil')}}"><img src="{{asset('/imagenes/iconos/logo.png')}}"></a>
                    {% else %}
                        <a href="{{path('app_login')}}"><img src="{{asset('/imagenes/iconos/logo.png')}}"></a>
                    {% endif %}
                    <h1>Clínica ginecológica</h1>
                </div>

                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <div class="c-datosUsu">
                        <p><em>Hola</em> {{ app.user.email}}</p>
                        <a href="{{path('app_logout')}}">Cerrar sesión</a>
                    </div>
                {% endif %}
            </nav>
        </header>
        {% endblock %}
        <!--FIN CABECERA-->

        <!--INICIO CUERPO-->
        {% block body %}
            <section class="l-contenedor">
                
            </section>
        {% endblock %}
        <!--FIN CUERPO-->
        {#
        <!--INICIO PIE-->
        {% block footer %} 
        {% endblock %}
        <!--FIN PIE-->
        #}
        
    </body>
</html>
