{% extends 'base.html.twig' %}

{% block head %} 
    {{ parent() }} {# Mantener el contenido del bloque head de la plantilla base #}
    <title>{% block title %} Paciente | {{ parent() }} {% endblock %}</title>
{% endblock %}

{% block body %}
<section class="l-contenedor l-contenedor--doble">

    <div class="card c-cartas">
        <img src="{{asset('imagenes/cita.jpg')}}" class="card-img-top" alt="">
        <a href="{{path('app_citas')}}" class="p-1 btn btn-primary ">Mis citas</a>
    </div>

    <div class="card c-cartas">
        <img src="{{asset('imagenes/prescripcion.png')}}" class="card-img-top" alt="">
        <a href="{{path('app_prescripcion')}}" class="p-1 btn btn-primary ">Mis prescripciones</a>
    </div>

    <div class="card c-cartas">
        <img src="{{asset('imagenes/datosmedicos.jpg')}}" class="card-img-top" alt="">
        <a href="{{path('app_datos')}}" class="p-1 btn btn-primary ">Mis datos</a>
    </div>
    
</section>
{% endblock %}

{% block footer %}
<footer>
    <p>&copy; 2023 Cereco - Todos los derechos reservados</p>
</footer>
{% endblock %}